<!doctype html>
<html lang="en" ng-app="serverMoviesJS">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AngularJS client for the GreetingsApp">
    <meta name="author" content="http://rhizomik.net/~roberto/">
    <title>GreetingsJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="greeting-tab/greeting-tab.js"></script>
    <script src="greeting-form/greeting-form.js"></script>
</head>
<body>


    <div class="container" ng-controller="MoviesController as controller">
        <div class="text-center" ng-show="controller.noMovies()">
            <button class="btn btn-lg btn-primary" ng-click="controller.listMovies()">
                <!-- per far cambiare la scritta sui tasti e cambiarne e poi farli sparire -->
                <span ng-show="!controller.isLoading()">Get Movies</span>
                <span ng-show="controller.isLoading()"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
            </button>
        </div>
        <div ng-repeat="greeting in controller.greetings">
            <greeting-tab></greeting-tab>
        </div>
        <div>
            <h3>Add new greeting</h3>
            <greeting-form></greeting-form>
        </div>
    </div><!-- /.container -->

</body>
</html>

